/* Write your CSS here */
.latest-match-container {
  margin-top: 24px;
}
.latest-match-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 18px;
  display: block;
}
.latest-match-card {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  border-radius: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .latest-match-card {
    display: flex;
    flex-direction: row;
    background-color: #0f172a;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.latest-match-details-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .latest-match-details-logo-container {
    width: 65%;
    padding-left: 32px;
    padding-right: 0px;
  }
}
.latest-match-details1 {
  width: 70%;
}
@media screen and (min-width: 768px) {
  .latest-match-details1 {
    width: 48%;
    align-self: flex-start;
  }
}
.latest-match-team-name {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .latest-match-team-name {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 30px;
  }
}
.latest-match-date {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .latest-match-date {
    font-size: 22px;
  }
}
.match-details {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .match-details {
    font-size: 17px;
  }
}
.latest-match-team-logo {
  max-width: 60px;
}
@media screen and (min-width: 768px) {
  .latest-match-team-logo {
    max-width: 200px;
    max-height: 200px;
  }
}

.separator {
  border: 1px solid #475569;
  width: 100%;
}
@media screen and(min-width:768px) {
  .separator {
    display: none;
  }
}
.latest-match-details2 {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and(min-width:768px) {
  .latest-match-details2 {
    width: 32%;
    padding-left: 0px;
    padding-right: 30px;
  }
}
.latest-match-details-label {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 14px;
  font-weight: bold;
}
.latest-match-details-value {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 13px;
}
@media screen and(min-width:768px) {
  .latest-match-details-label {
    font-size: 25px;
  }
  .latest-match-details-value {
    font-size: 13px;
  }
}
